



header{

background-color:maroon;
height:175px ;
width: 100%;
margin-bottom: 10px;
font-family: 'Kings', cursive;
font-size: 145px;
text-align: center;
border-radius: 20% 21% 22% 23%;
}

nav{

    background-color:wheat;
    height:215px ;
    width: 100%;
    border-radius: 30px;
font-size: 150px;
text-align: center;
}


#container{

display:flex;


}


aside{

    background-color:rgba(107, 253, 180, 0.692);
    height:50px ;
    width: 50%;
    font-size: 40px;
text-align: center;
}
main{

    background-color:goldenrod;
    height:50px ;
    width: 50%;
    font-size: 40px;
text-align: center;
}

footer{

    background-color:brown;
    height:50px ;
    width: 100%;
text-align: center;
font-size: 40px;
}
h1{

    background-color:color-mix(in srgb, red 30%, gold 70%);
    height:50px ;
    width: 100%;
border-radius: 90px;
text-align: center;
}